body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 50em;
}

@media (min-width: 400px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  body {
    padding-bottom: 2rem;
  }
}


h1,h2,h3,h4,h5,h6 {
 font-family: "Ubuntu Mono", monospace;
 font-weight: normal;
}
a {
  color: #6ab0cf;
}


h1 {
  padding-top: 3em;
  padding-bottom: 3em;

  text-align: center;
}

h1:before {
  content: "> ";
}

.navbar {
  padding: 0;
  font-size: 1.1rem;
}
.navbar li {
  list-style-type: none;
  display: inline-block;
}
@media screen (min-width: 400px) {
  .navbar li {
    font-size: 1.2rem;
  }
  .navbar li:first-of-type {
    margin-left: 0.5rem;
    margin-right: 1.5rem;
  }
}
/* todo: for some reason, this block doesn't work right now */
@media screen (max-width: 399px) {
  .nav-signup {
    display: block;
    color: #6ab0cf;
    width: 100%;
    text-align: center;
    
  }
}
.navbar li a {
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}


.update + .update {
  margin-top: 2em;
}

