body {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 50em;

  font-family: sans-serif;
}

@media (min-width: 400px) {
  body {
    padding: 1rem;
    padding-bottom: 2rem;
  }
}


h1,h2,h3,h4,h5,h6 {
 font-family: "Ubuntu Mono", monospace;
 font-weight: normal;
}
a {
  color: #6ab0cf;
}


h1 {
  padding-top: 3em;
  padding-bottom: 3em;

  text-align: center;
}
h1:before {
  content: "> ";
}
