/* Reset =================================================== */

a, blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, input, label, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  line-height: 1;
  width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
  padding: 0.6em 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}


/* Grid System =================================================== */

.col, .row {
  box-sizing: border-box;
}

.row:after, .row:before {
  display: table;
  content: ' ';
}

.row:after {
  clear: both;
}

.col {
  position: relative;
  display: block;
  float: left;
}

.col+.col {
  margin-left: 1.6%;
}

.col-1 {
  width: 6.86666666667%;
}

.col-2 {
  width: 15.3333333333%;
}

.col-3 {
  width: 23.8%;
}

.col-4 {
  width: 32.2666666667%;
}

.col-5 {
  width: 40.7333333333%;
}

.col-6 {
  width: 49.2%;
}

.col-7 {
  width: 57.6666666667%;
}

.col-8 {
  width: 66.1333333333%;
}

.col-9 {
  width: 74.6%;
}

.col-10 {
  width: 83.0666666667%;
}

.col-11 {
  width: 91.5333333333%;
}

.col-12 {
  width: 100%;
  margin-left: 0;
}

@media only screen and (max-width: 550px) {
  .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
    float: none;
    width: auto;
  }
  .col+.col {
    margin-left: 0;
  }
}


/* Helpers =================================================== */

.counter {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.align-c {
  text-align: center !important;
}

.align-l {
  text-align: left !important;
}

.align-r {
  text-align: right !important;
}

.align-j {
  text-align: justify !important;
}

.pad {
  text-align: left;
  padding: 25px 0px;
  padding-bottom: 0px;
}

.nopad-t {
  padding-top: 0 !important;
}

.nopad-b {
  padding-bottom: 0 !important;
}

.nopad {
  padding: 0 !important;
}

.mg-auto {
  display: block;
  margin: 0 auto;
}

.mg-b {
  margin-bottom: 80px !important;
}

.mg-bs {
  margin-bottom: 25px !important;
}

.nomg {
  margin: 0 !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

span.text-wide {
  display: none;
}


/* Components =================================================== */

.line {
  width: 30%;
  height: 3px;
  margin: 5em auto;
  border: none;
  background-color: #202020;
}

.btn--blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn--blue:hover {
  background-color: #6FC6FF;
  text-decoration: none;
}

.btn--blue:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


/* Pages =================================================== */

body {
  font-family: 'Roboto Mono', monospace;
}

[class^="container-"] {
  margin: 0 auto;
}

.container--lg {
  max-width: 60vw;
  padding: 1.5em;
}

.container--md {
  max-width: 45vw;
  padding: 1.5em;
}

.navbar--prime {
  font-size: 20px;
  margin: 1.5em;
  padding: 0;
  text-align: center;
}

.navbar--prime li {
  display: inline-block;
  list-style-type: none;
}

.navbar--prime li a {
  padding: 1em;
  text-decoration: none;
  color: #000;
}

footer {
  background-color: #dbdbdb;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 15px 0;
}

footer li {
  display: inline-block;
  font-size: 15px;
  margin: 0;
}

article {
  font-family: 'Roboto Slab', serif;
  font-size: 21px;
  margin: 1.5em 0;
}


/* Backgrounds */

.bg--dark {
  background-color: #212121;
  color: #fff;
}


/* Images */

img {
  max-width: 100%;
  position: relative;
  margin-bottom: 2em;
}

img.major {
  display: block;
  margin: auto;
  width: 40%;
  padding: 3em;
}


/* Text */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 33px;
  line-height: 35px;
}

h2 {
  font-size: 35px;
  line-height: 40px;
}

p {
  font-size: 20px;
  line-height: 33px;
}

p+p {
  margin-top: 1.5em;
}

a {
  color: #e284ff;
}

ul {
  font-size: 20px;
  line-height: 40px;
}

ul.bullet {
  list-style: inside;
}

.hero__title--cl {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 500%;
}

.hero__title--cl:before {
  content: '> ';
  color: #3bff05;
  /* #c700ff */
}

.title {
  margin-top: 1em;
  font-size: 40px;
  line-height: 50px;
}


/* == MEDIA QUERY: Mobile == */

@media (max-width: 1690px) {
  .container--lg {
    max-width: 75%;
    padding: 0.5em;
  }
  .container--md {
    max-width: 55%;
    padding: 1.5em;
  }
  .navbar--prime {
    font-size: 17px;
    margin: 1.3em;
  }
  .hero__title--cl {
    font-size: 450%;
  }
}

@media (max-width: 1226px) {
  .container--lg {
    max-width: 80%;
    padding: 0.5em;
  }
  .container--md {
    max-width: 70%;
    padding: 1.5em;
  }
  .navbar--prime {
    font-size: 15px;
    margin: 1em;
  }
  .hero__title--cl {
    font-size: 350%;
  }
}

@media (max-width: 899px) {
  .container--lg {
    max-width: 90%;
    padding: 0.5em;
  }
  .container--md {
    max-width: 90%;
    padding: 1.5em;
  }
  .navbar--prime {
    font-size: 13px;
  }
  .navbar--prime li a {
    padding: 0.5em;
  }
  p {
    font-size: 15px;
  }
  ul {
    font-size: 15px;
  }
  .hero__title--cl {
    font-size: 250%;
  }
  .hero__title--cl:before {
    content: '';
  }
}